@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$rubik: 'Rubik';

// colors
$pink: #F53855;
$dark-blue: #0B132A;
$gray: #4F5665;
$ligth-gray: #AFB5C0;
$orange:#F53838;
$ligth-orange:#FCBABA;
$white: #fff;
$bone-white: #F6F6F6;
$dark-white: #F8F8F8;